
.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.menu {
  float: right;
}

.menu li {
  margin-left: 30px;
  float: left;
}

.active {
  border-bottom: 5px solid #e8bf5d;
  padding: 0 5px 5px 5px;
}

.Total-navigation {
  color: #111111;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 0.56px;
}

.logo {
  float: left;
  margin-top: 25px;
}

header {
  margin-bottom: 20px;
}

.first-background {
  background: url("../img/first background.png") #111111 50% 50% no-repeat ;
  height: 840px;
}

.container-for-first-background {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  top: 600px;
}

.name-of-lawyer {

  width: 500px;
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 2.6px;
  line-height: 45px;
  border-left: 5px solid #e8bf5d;
  padding-left: 10px;
  float: left;
}

.text-lawyer {
  font-family: "Open Sans";
  font-size: 31px;
  letter-spacing: 1.24px;
  line-height: 36px;
}

.Contact-Me-on-first-background {
  color: #111111;
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.64px;
  border-radius: 25px;
  background-color: #e8bf5d;
  float: right;
  padding: 10px 25px;
  position: relative;
  top: 30px;
}

.title-about-us {
  color: #111111;
  font-family: "Playfair Display";
  font-size: 31px;
  font-weight: 400;
  line-height: 44.84px;
  letter-spacing: 1.24px;
}

.text-about-us {
  color: #666666;
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  line-height: 30.89px;
  letter-spacing: 0.84px;
  width: 762px;
}

.border-left {
  border-left: 5px solid #e8bf5d;
  padding-left: 10px;
}

.margin-second-section {
  margin-top: 100px;
}

.left-block {
  float: left;
  width: calc(50% - 10px);
  margin-right: 10px;
}

.right-block {
  float: left;
  width: calc(50% - 10px);
  margin-left: 10px;
}

.title-of-two-columns {
  color: #111111;
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.84px;
}

.years-of-events {
  color: #111111;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.84px;
}

.text-of-events {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.64px;
}

.text-about-expertise-in-two-columns {
  color: #666666;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.56px;
}

.two-columns {
  margin-top: 70px;
}

.second-background {
  background: url("../img/second-background.png") #111111 50% 50% no-repeat ;
  margin-top: 100px;
  height: 750px;
}

.title-Practis-Area {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 31px;
  font-weight: 400;
  line-height: 44.84px;
  letter-spacing: 1.24px;
}

.text-Practis-Area {
  width: 762px;
  color: #b9b9b9;
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  line-height: 30.89px;

  letter-spacing: 0.84px;
}

.margin-second-background-under-block {
  position: relative;
  top: 100px;
}

.more-height {
  height: 750px;
}

.margin-second-background-downer-block {
  position: relative;
  top: 100px;
}

.first-block-in-practis {
  float: right;
  width: calc(50% - 100px);
}

.second-block-in-practis{
  float: right;
  width: calc(50% - 100px);
}

.third-block-in-practis {
  float: right;
  width: calc(50% - 100px);
}

.fourth-block-in-practis {
  float: right;
  width: calc(50% - 100px);
}

.title-of-block-in-practis {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.84px;
}

.text-of-block-in-practis {
  width: 357px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
  line-height: 25px;
}

.second-block-in-practis:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  right: 510px;
  background: url("../img/2.png") 50% 50% no-repeat;
}

.first-block-in-practis:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: 130px;
  background: url("../img/1.png") 50% 50% no-repeat;
}

.third-block-in-practis:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: 130px;
  background: url("../img/3.png") 50% 50% no-repeat;
}

.fourth-block-in-practis:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  right: 510px;
  background: url("../img/4.png") 50% 50% no-repeat;
}

.margin-second-background-downer-block {
  margin-top: 100px;
}

.title-meet-our {
  color: #111111;
  font-family: "Playfair Display";
  font-size: 31px;
  font-weight: 400;
  line-height: 44.84px;
  letter-spacing: 1.24px;
}

.text-meet-our {
  width: 762px;
  color: #666666;
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  line-height: 30.89px;
  letter-spacing: 0.84px;
}

.margin-before-block-meet-our {
  margin-top: 100px;
}

.margin-between-name-of-general-and-block-meet-our {
  margin-top: 70px;
  margin-bottom: 100px;
}

.block-with-name-of-general {
  float: left;
  width: 25%;
}

.name-of-general {
  color: #111111;
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: 31px;
  display: block;
}

.text-Attorney {
  font-family: "Open Sans";
  letter-spacing: 0.56px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
}

.third-background {
  background: url("../img/third-background.png") #111111 50% 50% no-repeat ;
  height: 750px;

}

.title-our-clients-say {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 31px;
  font-weight: 400;
  line-height: 44.84px;
  letter-spacing: 1.24px;
}

.text-our-clients-say {
  width: 762px;
  color: #b9b9b9;
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  line-height: 30.89px;
  letter-spacing: 0.84px;
}

.margin-between-start-block-of-our-clients-say-in-third-background {
  padding-top: 100px;
}

.client-background {
  margin-top: 70px;
  float: left;
  margin-right: 100px;
}

.name-of-client {
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: 31px;
  color: #ffffff;
  display: block;
}

.where-working {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
  line-height: 24px;
}

.margin-in-third-background-right-of-client {
  margin-top: 100px;
}

article:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: 400px;
  background: url("../img/laws.png") 50% 50% no-repeat;
}

article {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.56px;
  margin-bottom: 50px;
}

.text-Recent-Publications {
  width: 762px;
  color: #666666;
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  line-height: 30.89px;
  letter-spacing: 0.84px;
}

.title-Recent-Publications {
  color: #111111;
  font-family: "Playfair Display";
  font-size: 31px;
  font-weight: 400;
  line-height: 44.84px;
  letter-spacing: 1.24px;
}

.margin-between-start-block-and-recent-publication {
  margin-top: 100px;
  margin-bottom: 70px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.border-bottom {
  border-bottom: 5px solid #e8bf5d;
  padding-bottom: 10px;
}

.fixed-width-33 {
  width: 380px;
}

.margin-right-publication {
  margin-right: 30px;
}

.publication-tite {
  color: #111111;
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: 31px;
}

.by-who-and-when {
  color: #666666;
  font-family: "Open Sans";
  font-style: italic;
  letter-spacing: 0.64px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

.name-who-publication {
  font-family: "Open Sans";
  letter-spacing: 0.64px;
  line-height: 24px;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
}

.text-of-publication {
  width: 357px;
  color: #666666;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.56px;
}

.comment {
  color: #111111;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.64px;
}

.share {
  color: #111111;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.64px;
}

.fourth-background {
  background: url("../img/fourth-background.png") #111111 50% 50% no-repeat;
  height: 750px;
}

.title-Frequently-asked-questions {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 31px;
  font-weight: 400;
  line-height: 44.84px;
  letter-spacing: 1.24px;
}

.text-Frequently-asked-questions {
  width: 762px;
  color: #b9b9b9;
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  line-height: 30.89px;
  letter-spacing: 0.84px;
}

.margin-between-start-block-and--Frequently-asked-questions {
  margin-top: 70px;
  padding-top: 70px;
}

.Frequently-asked-questions {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.56px;
}

.active-question {
  color: #e8bf5d;
}

.fixed-width-560 {
  width: 560px;
}

.padding-top {
  padding-top: 10px;
}

.margin-after-Frequently-asked-questions-with-border-left {
  margin-top: 100px;
}

.orange-text-block {
  width: 500px;
  height: 281px;
  box-shadow: 0 12px 40px rgba(216, 178, 87, 0.32);
  border-radius: 3px;
  background-color: #e8bf5d;
}

.style-for-text-in-orange-block {
  width: 406px;
  height: 200px;
  color: #111111;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.56px;
  padding: 40px;
}

.margin-right-Frequently-asked-questions {
  margin-top: 150px;
}

.title-Feel-Free-to-Contact {
  color: #111111;
  font-family: "Playfair Display";
  font-size: 31px;
  font-weight: 400;
  line-height: 44.84px;
  letter-spacing: 1.24px;
}

.text-Feel-Free-to-Contact {
  width: 762px;
  color: #666666;
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  line-height: 30.89px;
  letter-spacing: 0.84px;
}

.margin-between-start-block-and-Feel-Free-to-Contact {
  margin-top: 100px;
  margin-bottom: 70px;
}

.input-text {
  color: #b9b9b9;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: italic;
  line-height: 31px;
  letter-spacing: 0.56px;
  width: 350px;
  height: 50px;
  border: none;
  outline: none;
  border-bottom: 2px solid #333333;
}

.input-submit {
  color: #111111;
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.64px;
  border-radius: 25px;
  background-color: #e8bf5d;
  width: 170px;
  height: 50px;
}

.flex-in-form {
  display: flex;
  flex-direction: column;
}

.padding-input-message {
  padding-bottom: 50px;
}

.margin-submit {
  margin-top: 30px;
}

.container-on-900px {
  width: 900px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

footer {
  margin-top: 70px;
  height: 81px;
  background-color: #111111;
}

.copyright {
  color: #b5b5b5;
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  float: left;
  margin-top: 20px;
}

.Symo {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
}

.margin-in-footer {
  margin-top: 30px;
}